$scrollbar-width: 0.5rem;

$xxl: min(85vh, 85vw);
$xl: min(70vh, 70vw);
$lg: min(65vh, 65vw);
$md: min(79vh, 79vw);
$sm: min(93vh, 93vw);

$colors: (
  // common
  bg: #312e2b,
  bg2: rgba(0, 0, 0, 0.2),
  fg: #ffffff,
  fg2: hsla(0, 0%, 100%, 0.72),
  gray: #ffffff80,

  // squares
  light-square: #efefd2,
  dark-square: #769757,
  active-square: #fff,
  highlighted-square: #cb9f4f,

  // button
  button-bg: #383633,
  button-fg: #c9c6c6,
  button-bg-hover: #4a4947,
  button-fg-hover: #fffefe,
  button-bg-active: #363533,
  button-fg-active: #b8b6b7,

  // scrollbar
  scrollbar-thumb: #141412,
  scrollbar-track: #272423,

  // sidebar
  sidebar-light-row: #2b2827,
  sidebar-dark-row: #272423
);

$fonts: (
  regular: 400,
  bold: 700,
);

$box: (
  border-radius: 4px,
);

$breakpoints: (
  xxl: 1400px,
  xl: 1200px,
  lg: 992px,
  md: 768px,
  sm: 576px,
);

$board: (
  xxl: $xxl,
  xl: $xl,
  lg: $lg,
  md: $md,
  sm: $sm,
);

$square: (
  xxl: calc($xxl / 8),
  xl: calc($xl / 8),
  lg: calc($lg / 8),
  md: calc($md / 8),
  sm: calc($sm / 8),
);
