$colors: (
  bg: #312e2b,
  bg2: rgba(0, 0, 0, 0.2),
  fg: #ffffff,
  fg2: hsla(0, 0%, 100%, 0.72),
  gray: #ffffff80,

  //squares
  light-square: #efefd2,
  dark-square: #769757,
  active-square: #fff,
);
