$colors: (
  bg: #312e2b,
  bg2: rgba(0, 0, 0, 0.2),
  fg: #ffffff,
  fg2: hsla(0, 0%, 100%, 0.72),
  gray: #ffffff80,

  //squares
  light-square: #efefd2,
  dark-square: #769757,
  active-square: #fff,

  // button
  button-bg: #383633,
  button-fg: #c9c6c6,
  button-bg-hover: #4a4947,
  button-fg-hover: #fffefe,
  button-bg-active: #363533,
  button-fg-active: #b8b6b7,

  // scrollbar
  scrollbar-thumb: #141412,
  scrollbar-track: #272423,
);

$box: (
  border-radius: 4px,
);
