$colors: (
  // common
  bg: #312e2b,
  bg2: rgba(0, 0, 0, 0.2),
  fg: #ffffff,
  fg2: hsla(0, 0%, 100%, 0.72),
  gray: #ffffff80,

  // squares
  light-square: #efefd2,
  dark-square: #769757,
  active-square: #fff,
  highlighted-square: #cb9f4f,

  // button
  button-bg: #383633,
  button-fg: #c9c6c6,
  button-bg-hover: #4a4947,
  button-fg-hover: #fffefe,
  button-bg-active: #363533,
  button-fg-active: #b8b6b7,

  // scrollbar
  scrollbar-thumb: #141412,
  scrollbar-track: #272423,

  // sidebar
  sidebar-light-row: #2b2827,
  sidebar-dark-row: #272423,
);

$box: (
  border-radius: 4px,
);

$breakpoints: (
  xxl: 1400px,
  xl: 1200px,
  lg: 992px,
  md: 768px,
  sm: 576px,
);

$board: (
  xxl: min(80vh, 80vw),
  xl: min(72vh, 72vw),
  lg: min(64vh, 64vw),
  md: min(80vh, 80vw),
  sm: min(95vh, 95vw),
);

$square: (
  xxl: calc(min(80vh, 80vw) / 8),
  xl: calc(min(72vh, 72vw) / 8),
  lg: calc(min(64vh, 64vw) / 8),
  md: calc(min(80vh, 80vw) / 8),
  sm: calc(min(95vh, 95vw) / 8),
);

$scrollbar-width: 0.5rem;
